.App {
  text-align: center;
}

.footer {
  font-size: 10px;
  font-weight: 300;
  padding-top: 100px;
  text-align: center;
}

.label {
  color: #c5c5c5;
  font-size: 14px;
}

h3 {
  font-family: 'Oswald', serif;
  font-weight: 300;
  margin: 10px;
}
